@font-face {
  font-family: 'iconfont';  /* project id 2415759 */
  src: url('//at.alicdn.com/t/font_2415759_hqdq7ukfx9r.eot');
  src: url('//at.alicdn.com/t/font_2415759_hqdq7ukfx9r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2415759_hqdq7ukfx9r.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2415759_hqdq7ukfx9r.woff') format('woff'),
  url('//at.alicdn.com/t/font_2415759_hqdq7ukfx9r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2415759_hqdq7ukfx9r.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}